### Heroes Of Pymoli Data Analysis

-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [698]:
# Dependencies and Setup
import pandas as pd
import numpy as np


# Read Purchasing File and store into Pandas data frame
df = pd.read_csv('purchase_data.csv')

# Convert each column to an np.array
# purchaseid = df.PurchaseID.to_numpy()
# sn = df.SN.to_numpy()
# age = df.Age.to_numpy()
# gender = df.Gender.to_numpy()
# itemid = df.ItemID.to_numpy()
# itemname = df.ItemName.to_numpy()
# price = df.Price.to_numpy()

#help(df)
#print(df.columns)
#print(df.head(4))

## Player Count

* Display the total number of players

In [697]:
#print(len(df.SN)) could swap df.index, or whatever other unique information desired
#Number_Players = (len(df.SN))
    #print (Number_Players)
Number_Players = df['SN'].unique()
#print(len(Number_Players))
    
Number_of_Players = [{"Number of Players": 576}]
my_df_players = pd.DataFrame(Number_of_Players)
my_df_players

   Number of Players
0                576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [696]:
#Number of Unique Items
unique_items = df["Item ID"].unique()
#print(unique_items)
(len(unique_items))
#could run .nunique() instead

#Average Price
Average_price = df["Price"].mean()
Average_price

#Number of Purchases
number_of_purchases = (df["Purchase ID"].value_counts())
(len(number_of_purchases))

#Total Revenue
Total_Revenue = (df["Price"].sum())
Total_Revenue

print()
Purchasing_Analysis_Totals = [{"Unique Items": 183,"Average Price": 3.05,"Total Purchases": 780, "Total Revenue": 2379.77}]
format_PA = {'Average Price': '${:,.2f}', "Total Revenue": '${:,.2f}'}
PA_Totals= pd.DataFrame(Purchasing_Analysis_Totals)
PA_Totals.style.format(format_PA)
#Want to use one dictionary for ALL because the strings are your column headers but only one row. You would want to use seperate dictionaries if each should be it's own row.

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [694]:
gamers = df["SN"].unique()
(len(gamers))

gamer_gender = df.groupby(["SN"])["Gender"].unique()
#Grouping the dataframe by SN, then within each Gender sorting for unique SN
gamer_gender_counter = gamer_gender.value_counts()
gamer_gender_counter
#printing value counts in each gender for unique SN

#This was the first way I did it, this is not taking into account the SN duplicates!
######
#gamers_gender = (gamers["Gender"].value_counts())
#print(gamers_gender)
#print()
######

(((gamer_gender_counter)/576)*100)

Gender_Demographics = [{"Gender": "Male", "Number": 484, "Percent": 84.03},{"Gender": "Female", "Number": 81, "Percent":14.06},{"Gender": "Other/Non-Disclosed", "Number": 11, "Percent": 1.90}]
format_gender = {'Percent':'{:,.0f}%'}
Gender_Demographics = pd.DataFrame(Gender_Demographics)
Gender_Demographics.style.format(format_gender)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [684]:
#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Avg Total Purchase per Person

#all broken up by gender

#Gender_df = df['Purchase ID'].count()
#print(Gender_df)
Gender_count = df.groupby('Gender')

#Total purchase count
Total_items_Gender = (Gender_count['Purchase ID'].count())

#Total purchase value
Total_purchase_Gender = (Gender_count['Price'].sum())

#Average purchase price
Avg_purchase_Gender = (Gender_count['Price'].mean())

#gamer_gender = df.groupby(["SN"])["Gender"].unique()
#gamer_gender_counter = gamer_gender.value_counts()
#print(gamer_gender_counter.shape)

#Avg_per_person = ((Total_purchase_Gender)/(gamer_gender_counter))
#print(Total_purchase_Gender.shape)

#print(Total_purchase_Gender/gamer_gender_counter)

Avg_per_person = ((Avg_purchase_Gender)*780)/576
Avg_per_person

#Purchase_Analysis_Gender = [{"Gender": "Male", "Purchase Count": 652, "Total Purchase Value": 1967.64, "Avg Purchase Price": 3.01, "Avg Purchase Price per Person": 4.09},{"Gender": "Female", "Purchase Count": 113, "Total Purchase Value": 361.94, "Avg Purchase Price": 3.20, "Avg Purchase Price per Person": 4.34},{"Gender": "Other/Non-Disclosed", "Purchase Count": 15, "Total Purchase Value": 50.19, "Avg Purchase Price": 3.35, "Avg Purchase Price per Person": 4.53}]
Purchase_Analysis_Gender = {"Total Purchase Count": Total_items_Gender, "Total Purchase Value": Total_purchase_Gender, "Average Purchase Price": Avg_purchase_Gender, "Average Per Person": Avg_per_person}
format_PA_Gender = {"Total Purchase Value": '${0:,.2f}', "Average Purchase Price":'${0:,.2f}', "Average Per Person": '${0:,.2f}'}
PA_Gender = pd.DataFrame(Purchase_Analysis_Gender)
PA_Gender.style.format(format_PA_Gender)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [693]:
# df["Age"].max()
# df["Age"].min()
df_age_copy = df.copy()
df_age = df_age_copy.drop_duplicates(["SN"], keep="first")
####DROP DUPLICATES!!!#####

age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 49]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

pd.cut(df_age["Age"], age_bins, labels = age_labels)

df_age["Age Group"] = pd.cut(df["Age"], age_bins, labels = age_labels)
#df.head(4)

age_groups_df = df_age.groupby("Age Group")

age_group_totals = age_groups_df["Age Group"].value_counts()
age_group_percents = ((((age_group_totals)/576)*100))


# print(age_group_totals)
# print()
#print(age_group_percents)
# print()
# print()
Age_Group_Summary = [{"Age Group": "<10", "Number in Group": 17, "Percent Total": 2.95},{"Age Group": "10-14", "Number in Group": 22, "Percent Total": 3.82}, {"Age Group": "15-19", "Number in Group": 22, "Percent Total": 18.58}, {"Age Group": "20-24", "Number in Group": 258, "Percent Total": 44.79},{"Age Group": "25-29", "Number in Group": 77, "Percent Total": 13.36}, {"Age Group": "30-34", "Number in Group": 52, "Percent Total": 9.02}, {"Age Group": "35-39", "Number in Group": 31, "Percent Total": 5.38}, {"Age Group": "40+", "Number in Group": 12, "Percent Total": 2.08}]
# Age_Group_Summary = {'Age Group Totals' : age_group_totals_series, 'Age Group Percents' : age_group_percents_series}
format_age = {"Percent Total": '{:0,.2f}%'}
Age_summary = pd.DataFrame(Age_Group_Summary)
Age_summary.style.format(format_age)
# age_group_totals

##Why will the dictionary not work using the series names? they are all Pandas.core.Series.series, same as other problems###
##Play with pd.concat() here: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [642]:
#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Avg Total Purchase per Person
#By Age bin


PA_Age_bin = [0, 9, 14, 19, 24, 29, 34, 39, 49]
PA_Age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
pd.cut(df["Age"],PA_Age_bin, labels = PA_Age_labels)
df["Age Group"] = pd.cut(df["Age"],PA_Age_bin, labels = PA_Age_labels)
#df.head(10)

grouped_purchases_df = df.groupby("Age Group")
Purchase_ID_Age = grouped_purchases_df["Purchase ID"].count()
Price_Avg_Age = round(grouped_purchases_df["Price"].mean(),2)
Price_Total_Age = grouped_purchases_df["Price"].sum()
Price_Avg_PP_Age = age_groups_df["Price"].mean()

# print(Purchase_ID_Age)
# print()
# print(Price_Avg_Age)
# print()
# print(Price_Total_Age)
# print()
# print(Price_Avg_PP_Age)

Purchasing_analysis_age = {"Purchase ID": Purchase_ID_Age, "Average Price": Price_Avg_Age, "Price Total": Price_Total_Age, "Average Price Per Person": Price_Avg_PP_Age}
format_dict = {'Average Price':'${0:,.2f}', 'Price Total':'${0:,.2f}', 'Average Price Per Person': '${0:,.2f}'}
PA_Age_df = pd.DataFrame(Purchasing_analysis_age)
PA_Age_df.style.format(format_dict)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [652]:
#Purchase Count
#Average Purchase Price
#Total Purchase Value
#By SN

grouped_SN_df = df.groupby("SN")
Purchases_SN = grouped_SN_df["Purchase ID"].count()
Purchases_SN
Purchase_SN_series = pd.Series(Purchases_SN)

Avg_PP = grouped_SN_df["Price"].mean()
Avg_PP
Avg_PP_series = pd.Series(Avg_PP)


Total_Value = grouped_SN_df["Price"].sum()
Total_Value
Total_Value_series = pd.Series(Total_Value)

frame = {'Purchases' : Purchase_SN_series, 'Average Purchase Price' : Avg_PP_series, 'Total Purchase Value' : Total_Value_series}
format_frame = {'Average Purchase Price': '${0:,.2f}', 'Total Purchase Value' : '${0:,.2f}'}
Summary_frame = pd.DataFrame(frame)


Summary_frame.sort_values('Total Purchase Value', ascending = False).head(10).style.format(format_frame)
# New_Df = pd.concat([Purchases_SN, Avg_PP, Total_Value], axis = 1)
# Would work for one column
##STYLER ALWAYS GOES AT THE END OF WHAT YOU WANT TO DO###

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [657]:
df_sec = df.loc[:, ['Item ID', 'Item Name', 'Price']]
df_sec
df_price = df.loc[:,["Price"]]

#Group by Item Name & ItemID
#Purchase Count
#Item Price
#Total Purchase Value

gb_Item_Name_ID = df_sec.groupby(["Item Name", "Item ID"])
Purchase_count = gb_Item_Name_ID["Item Name"].count()
Purchase_count
Purchase_count_series = pd.Series(Purchase_count)

Total_Purchase_Value = gb_Item_Name_ID["Price"].sum()
Total_Purchase_Value
Total_Purchase_Value_series = pd.Series(Total_Purchase_Value)

Item_Price = gb_Item_Name_ID["Price"].mean()
Item_Price
Item_Price_series = pd.Series(Item_Price)



frame_popular_items = {"Purchase Count": Purchase_count_series, "Item Price": Item_Price_series, "Total Purchase Value": Total_Purchase_Value_series}
format_items = {'Item Price': '${0:,.2f}', "Total Purchase Value": '${0:,.2f}'}
Most_Popular_Items = pd.DataFrame(frame_popular_items)
# type(Most_Popular_Items)
Most_Popular_Items
# Most_Popular_Items_sort = pd.concat([Most_Popular_Items, df_price], axis = , join = 'outer')
# Most_Popular_Items_sort

Most_Popular_Items.sort_values('Purchase Count', ascending = False).head(10).style.format(format_items)

# Item_price = gb_Item_Name_ID["Price"]
# Price
# # Purchase_value =gb_Item_Name_ID["Price"].sum()

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [662]:

Most_Popular_Items.sort_values("Total Purchase Value", ascending = False).head(10).style.format(format_items)